n8n/backup/workflows/BQrNGsta77ozoKV0.json
{"updatedAt":"2025-11-01T20:37:18.104Z","createdAt":"2025-11-01T20:35:35.744Z","id":"BQrNGsta77ozoKV0","name":"InsightsLM - Process Additional Sources","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"670882ea-5c1e-4b50-9f41-4792256af985","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,464],"id":"b4542252-3b2c-4e33-b339-555ea26fbaef","name":"Webhook","webhookId":"670882ea-5c1e-4b50-9f41-4792256af985"},{"parameters":{"workflowId":{"__rl":true,"value":"jTHf2gRBacjaDiRp","mode":"list","cachedResultName":"InsightsLM - Upsert to Vector Store"},"workflowInputs":{"mappingMode":"defineBelow","value":{"notebook_id":"={{ $('Webhook').item.json.body.notebookId }}","extracted_text":"={{ $('Webhook').item.json.body.content }}","source_id":"={{ $('Webhook').item.json.body.sourceId }}"},"matchingColumns":[],"schema":[{"id":"notebook_id","displayName":"notebook_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"extracted_text","displayName":"extracted_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"source_id","displayName":"source_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[912,288],"id":"0044406d-3c32-4945-b29d-8009407b5d87","name":"Execute Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.type }}","rightValue":"copied-text","operator":{"type":"string","operation":"equals"},"id":"5057cf19-e998-4cbb-b3a2-95bb8b2a7355"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b0e22e8-984f-46ba-b83e-52d3feda3985","leftValue":"={{ $json.body.type }}","rightValue":"multiple-websites","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[240,464],"id":"99c3979e-53dc-4252-abf3-8a25ffd7c341","name":"Switch"},{"parameters":{"fieldToSplitOut":"body.urls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[464,576],"id":"432632c6-32f6-42cc-a22a-cbb7f3e997db","name":"Split Out"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[688,576],"id":"fb3f60a0-3079-4cd3-90e3-da919e7fdce2","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"jTHf2gRBacjaDiRp","mode":"list","cachedResultName":"InsightsLM - Upsert to Vector Store"},"workflowInputs":{"mappingMode":"defineBelow","value":{"notebook_id":"={{ $('Switch').item.json.body.notebookId }}","extracted_text":"={{ $json.content }}","source_id":"={{ $('Switch').item.json.body.sourceIds[$('Loop Over Items').item.pairedItem.item] }}"},"matchingColumns":[],"schema":[{"id":"notebook_id","displayName":"notebook_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"extracted_text","displayName":"extracted_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"source_id","displayName":"source_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2032,656],"id":"8822b05d-e490-486a-b81a-21c50a620daf","name":"Execute Workflow1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2240,704],"id":"57e9670e-fb0d-4038-8561-c721be3111e6","name":"Aggregate"},{"parameters":{"method":"POST","url":"=http://kong:8000/storage/v1/object/sources/{{ $('Switch').item.json.body.notebookId }}/{{ $('Switch').item.json.body.sourceIds[$('Loop Over Items').item.pairedItem.item] }}.txt","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"contentType":"raw","rawContentType":"text/plain","body":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,656],"id":"9edaaf1d-fd23-48ee-bfb1-2bdc2cc476e7","name":"Upload File to Bucket"},{"parameters":{"method":"POST","url":"=http://kong:8000/storage/v1/object/sources/{{ $('Switch').item.json.body.notebookId }}/{{ $json.body.sourceId }}.txt","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"contentType":"raw","rawContentType":"text/plain","body":"={{ $json.body.title }}\n{{ $json.body.content }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,288],"id":"3d76f389-5b12-4350-a111-f88d113f1a12","name":"Upload File to Bucket1"},{"parameters":{"operation":"update","tableId":"sources","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.sourceId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"file_path","fieldValue":"={{ $('Switch').item.json.body.notebookId }}/{{ $('Webhook').item.json.body.sourceId }}.txt"},{"fieldId":"file_size","fieldValue":"9999"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[688,288],"id":"56c82abc-8ff2-4718-9de0-bfa403d3f1cf","name":"Supabase1"},{"parameters":{"url":"={{ $json['body.urls'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,496],"id":"bfd5efa0-2c09-40eb-adec-924a2b22e0b1","name":"Fetch Webpage"},{"parameters":{"html":"={{ $('Fetch Webpage').item.json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1344,544],"id":"a2d8dd96-92f9-4ce2-966c-f28827b7c458","name":"Markdown"},{"parameters":{"operation":"update","tableId":"sources","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Switch').item.json.body.sourceIds[$('Loop Over Items').item.pairedItem.item] }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"content","fieldValue":"={{ $('Markdown').item.json.data }}"},{"fieldId":"title","fieldValue":"={{ $('HTML').item.json.title }}"},{"fieldId":"file_path","fieldValue":"={{ $('Switch').item.json.body.notebookId }}/{{ $('Switch').item.json.body.sourceIds[$('Loop Over Items').item.pairedItem.item] }}.txt"},{"fieldId":"file_size","fieldValue":"9999"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1808,656],"id":"e11c89fa-628a-49f7-b5de-d740321cd0d7","name":"Update a row"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"title","cssSelector":"title"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1152,448],"id":"c4c491ca-c146-4f9f-8528-9dc36295363d","name":"HTML"},{"parameters":{"content":"[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)\n## InsightsLM Local - Process Additional Sources\nhttps://github.com/theaiautomators/insights-lm-public\nhttps://github.com/theaiautomators/insights-lm-local-package","height":320,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,16],"id":"cf60e0a1-1118-418e-b6a0-61f8ac8f4360","name":"Sticky Note9"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Upload File to Bucket1","type":"main","index":0}],[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Fetch Webpage","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Upload File to Bucket":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Upload File to Bucket1":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Fetch Webpage":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Upload File to Bucket","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Markdown","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"669017ec-e87f-48f9-87c2-68ff210cfd5f","triggerCount":1,"tags":[{"updatedAt":"2025-11-01T20:15:53.974Z","createdAt":"2025-11-01T20:15:53.974Z","id":"Cw2uyDZZlrxQ6mXI","name":"TheAIAutomators.com"}],"shared":[{"updatedAt":"2025-11-01T20:35:35.744Z","createdAt":"2025-11-01T20:35:35.744Z","role":"workflow:owner","workflowId":"BQrNGsta77ozoKV0","projectId":"ywaJbrRlDxckxG6O","project":{"updatedAt":"2025-11-01T20:14:57.952Z","createdAt":"2025-11-01T18:40:14.237Z","id":"ywaJbrRlDxckxG6O","name":"Layla laylaalsaabna@gmail.com <laylaalsaabna@gmail.com>","type":"personal","icon":null,"description":null}}]}