n8n/backup/workflows/fo67jWX304MiubFl.json
{"updatedAt":"2025-11-01T20:38:42.924Z","createdAt":"2025-11-01T20:35:45.478Z","id":"fo67jWX304MiubFl","name":"InsightsLM - Upsert to Vector Store","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"19566c6c-e0a5-4a8f-ba1a-5203c2b663b7","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-464,368],"id":"1aa69f7b-729e-490d-8bc0-07ab6dd45a14","name":"Webhook","webhookId":"19566c6c-e0a5-4a8f-ba1a-5203c2b663b7","credentials":{"httpHeaderAuth":{"id":"1B1Z9dD0D9Mo5556","name":"Header Auth account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1040,368],"id":"46dcd7e2-7d9c-47ce-ac6a-93c99d506bc5","name":"Supabase Vector Store","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"alwaysOutputData":true},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"notebook_id","value":"={{ $('Code').item.json.notebook_id }}"},{"name":"source_id","value":"={{ $('Code').item.json.source_id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1152,608],"id":"7ebef967-812c-457f-8d03-0cec783a4a93","name":"Default Data Loader"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1248,784],"id":"41f3bbbe-d27c-48ab-b9c1-a5533a57f186","name":"Recursive Character Text Splitter"},{"parameters":{"assignments":{"assignments":[{"id":"dab34521-ffef-41db-9eb3-8985fd108466","name":"text","value":"={{ $('Code').item.json.extracted_text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,368],"id":"802fd7ed-8348-4657-864d-b088a7d0bc39","name":"Edit Fields"},{"parameters":{"jsCode":"// Example: run this in an n8n Code node (JavaScript)\n\nlet notebook_id;\nlet source_id;\n\ntry {\n  const webhookData = $('Webhook').first();\n  if (webhookData && webhookData.json?.body?.file_path) {\n    const path = webhookData.json.body.file_path;\n    notebook_id = path.split('/')[0];\n    source_id = webhookData.json.body.source_id;\n  }\n} catch (e) {\n  // Webhook not executed or doesn't exist in this context\n  notebook_id = $input.first().json.notebook_id;\n  source_id = $input.first().json.source_id;\n}\n\nconst extracted_text = $input.first().json.extracted_text;\n\nreturn [\n  {\n    json: {\n      notebook_id,\n      extracted_text,\n      source_id\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,368],"id":"73f99c1a-377d-4e67-9350-f6f8c497ad09","name":"Code"},{"parameters":{"method":"POST","url":"http://kong:8000/functions/v1/process-document-callback","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source_id\": \"{{ $('Code').item.json.source_id }}\",\n  \"status\": \"completed\"\n}\n","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,368],"id":"9294f93a-d121-41da-bd32-967759811cc2","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"={{ $json.extracted_text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Based on the data provided, output an appropriate title and summary of the document. Only output in JSON in the following format / structure\n\n{\n\t\"title\": \"<ADD>\",\n\t\"summary\": \"<ADD>\"\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[208,368],"id":"e64944a1-becc-44e3-bbe1-d1d04713959a","name":"Generate Title & Description"},{"parameters":{"jsonSchemaExample":"{\n\t\"title\": \"<ADD>\",\n\t\"summary\": \"<ADD>\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[352,576],"id":"e87a1b61-8300-4281-aa5f-bbe5427e604c","name":"Structured Output Parser"},{"parameters":{"operation":"update","tableId":"sources","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Code').item.json.source_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"content","fieldValue":"={{ $('Code').item.json.extracted_text }}"},{"fieldId":"summary","fieldValue":"={{ $json.output.summary }}"},{"fieldId":"display_name","fieldValue":"={{ $json.output.title }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[592,368],"id":"96b8d38e-b1c0-4148-b6ba-ea36730f4826","name":"Supabase"},{"parameters":{"workflowId":{"__rl":true,"value":"d5jtwJY7RRoMcRk4","mode":"list","cachedResultName":"InsightsLM - Extract Text"},"workflowInputs":{"mappingMode":"defineBelow","value":{"filePath":"={{ $json.body.file_path }}"},"matchingColumns":["filePath"],"schema":[{"id":"filePath","displayName":"filePath","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-240,368],"id":"5a44ba29-4aca-4acd-a0eb-a54acdf16164","name":"Extract Text"},{"parameters":{"workflowInputs":{"values":[{"name":"notebook_id"},{"name":"extracted_text"},{"name":"source_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-464,128],"id":"43ca1d02-b5a6-4663-a401-13993cd2a766","name":"When Executed by Another Workflow"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1408,368],"id":"04f66b20-df76-499d-9765-16d1f10d4539","name":"Aggregate"},{"parameters":{"model":"qwen3:8b-q4_K_M","options":{"format":"json"}},"type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[160,752],"id":"f9ee0db3-5aa7-49d4-a8b7-a38c12b60348","name":"Ollama Model"},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1008,592],"id":"5590b62c-dee7-482a-accb-4f48f878f487","name":"Embeddings Ollama"},{"parameters":{"content":"[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)\n## InsightsLM Local - Upsert to Vector Store\nhttps://github.com/theaiautomators/insights-lm-public\nhttps://github.com/theaiautomators/insights-lm-local-package","height":260,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,16],"id":"9aa1f852-83cf-4dd0-a265-1deb76232aa5","name":"Sticky Note9"}],"connections":{"Webhook":{"main":[[{"node":"Extract Text","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Edit Fields":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Code":{"main":[[{"node":"Generate Title & Description","type":"main","index":0}]]},"Supabase Vector Store":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Generate Title & Description","type":"ai_outputParser","index":0}]]},"Generate Title & Description":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Extract Text":{"main":[[{"node":"Code","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Ollama Model":{"ai_languageModel":[[{"node":"Generate Title & Description","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"16437238-4f26-482a-9172-da2e6469de6e","triggerCount":1,"tags":[{"updatedAt":"2025-11-01T20:15:53.974Z","createdAt":"2025-11-01T20:15:53.974Z","id":"Cw2uyDZZlrxQ6mXI","name":"TheAIAutomators.com"}],"shared":[{"updatedAt":"2025-11-01T20:35:45.478Z","createdAt":"2025-11-01T20:35:45.478Z","role":"workflow:owner","workflowId":"fo67jWX304MiubFl","projectId":"ywaJbrRlDxckxG6O","project":{"updatedAt":"2025-11-01T20:14:57.952Z","createdAt":"2025-11-01T18:40:14.237Z","id":"ywaJbrRlDxckxG6O","name":"Layla laylaalsaabna@gmail.com <laylaalsaabna@gmail.com>","type":"personal","icon":null,"description":null}}]}