n8n/backup/workflows/FWCXANu7yM3VrSio.json
{"updatedAt":"2025-11-01T20:37:13.299Z","createdAt":"2025-11-01T20:35:14.080Z","id":"FWCXANu7yM3VrSio","name":"InsightsLM - Generate Notebook Details","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"0c488f50-8d6a-48a0-b056-5f7cfca9efe2","authentication":"headerAuth","options":{"responseCode":{"values":{"responseCode":"customCode","customCode":202}}}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,432],"id":"acb8e7b8-256c-479d-a400-afeb88a0d03c","name":"Webhook","webhookId":"0c488f50-8d6a-48a0-b056-5f7cfca9efe2"},{"parameters":{"promptType":"define","text":"={{ $json.extracted_text.substring(0,1500) }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Based on the data provided, output the following ...\n\n1. An appropriate title, \n2. A 1 paragraph summary\n3. 5 example questions that could be asked of this document. \n\nFor example \"How are the rules and regulations of tennis enforced?\" - Maximum 10 words each\n\n4. One appropriate UTF-8 emoji\n\nOnly return the ONE emoji itself. No words. No punctuation.\n\nExample output:\n🏆\n📓\n😊\n❤️\n\nOnly output in JSON."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1344,432],"id":"4b7ca22a-a284-4b71-b980-313032a4c271","name":"Generate Title & Description"},{"parameters":{"jsonSchemaExample":"{\n\t\"title\": \"<ADD>\",\n\t\"summary\": \"<ADD>\",\n  \"example_questions\": [\"ADD\",\"ADD\"],\n  \"emoji\": \"<ADD>\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1488,608],"id":"4d9ed87f-f9d0-4689-b6a3-c64e8d97ae17","name":"Structured Output Parser"},{"parameters":{"workflowId":{"__rl":true,"value":"d5jtwJY7RRoMcRk4","mode":"list","cachedResultName":"InsightsLM - Extract Text"},"workflowInputs":{"mappingMode":"defineBelow","value":{"filePath":"={{ $json.body.filePath }}"},"matchingColumns":["filePath"],"schema":[{"id":"filePath","displayName":"filePath","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[912,624],"id":"6697ef83-7e72-4801-a040-95ace01d1a19","name":"Extract Text"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a25d08b6-2c99-4e08-af5f-62b13e6c4fdb","leftValue":"={{ $json.body.sourceType }}","rightValue":"=text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"3b5d5dce-76c4-445a-bab7-53c2114d52be","leftValue":"={{ $json.body.sourceType }}","rightValue":"website","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,432],"id":"6d25d310-c6bb-4d2c-a788-df37c67bcced","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea61516d-9144-4b4b-904e-cf280d5bd08d","leftValue":"={{ $json.body.sourceType }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[464,336],"id":"fd2df630-668d-4875-8ca4-ff14486af237","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"c5924d7e-6185-49a5-b61c-d244a40bd9b2","name":"=extracted_text","value":"={{ $json.body.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,224],"id":"4762bcab-9f7f-4ed2-a90b-b94802988dc2","name":"Set Text"},{"parameters":{"assignments":{"assignments":[{"id":"c5924d7e-6185-49a5-b61c-d244a40bd9b2","name":"=extracted_text","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,432],"id":"1579e489-baab-403e-bfc3-e2c406162b21","name":"Set Text1"},{"parameters":{"url":"={{ $json.body.filePath }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,432],"id":"ad54abbc-1d42-4fa2-9374-4d0fdd333863","name":"Fetch Webpage"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[864,432],"id":"7fea7d37-31d1-4517-ae53-c21eb99ee10c","name":"Markdown"},{"parameters":{"model":"qwen3:8b-q4_K_M","options":{"format":"json"}},"type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[1328,816],"id":"3a0bdcd7-3461-4655-93d7-e5abbade00e9","name":"Ollama Model"},{"parameters":{"jsCode":"const options = [\n  'slate', 'gray', 'zinc', 'neutral', 'stone',\n  'red', 'orange', 'amber', 'yellow', 'lime',\n  'green', 'emerald', 'teal', 'cyan', 'sky',\n  'blue', 'indigo', 'violet', 'purple', 'fuchsia',\n  'pink', 'rose'\n];\n\nfor (const item of $input.all()) {\n  const randomOption = options[Math.floor(Math.random() * options.length)];\n  item.json.color = randomOption;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,432],"id":"c540de1c-4e00-45eb-8afb-954f30e71540","name":"Random Color"},{"parameters":{"operation":"update","tableId":"notebooks","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.notebookId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json.output.title }}"},{"fieldId":"description","fieldValue":"={{ $json.output.summary }}"},{"fieldId":"color","fieldValue":"={{ $json.color }}"},{"fieldId":"generation_status","fieldValue":"completed"},{"fieldId":"example_questions","fieldValue":"={{ $json.output.example_questions }}"},{"fieldId":"icon","fieldValue":"={{ $json.output.emoji.slice(0,2) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1984,432],"id":"ec292768-33f4-4218-9a26-744f5d7065f7","name":"Update a row"},{"parameters":{"content":"[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)\n## InsightsLM Local - Generate Notebook Details\nhttps://github.com/theaiautomators/insights-lm-public\nhttps://github.com/theaiautomators/insights-lm-local-package","height":340,"width":320,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,16],"id":"13f78965-e0f6-4523-8840-9dc03f64a989","name":"Sticky Note8"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Generate Title & Description":{"main":[[{"node":"Random Color","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Generate Title & Description","type":"ai_outputParser","index":0}]]},"Extract Text":{"main":[[{"node":"Generate Title & Description","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"Extract Text","type":"main","index":0}]]},"If1":{"main":[[{"node":"Set Text","type":"main","index":0}],[{"node":"Fetch Webpage","type":"main","index":0}]]},"Set Text":{"main":[[{"node":"Generate Title & Description","type":"main","index":0}]]},"Set Text1":{"main":[[{"node":"Generate Title & Description","type":"main","index":0}]]},"Fetch Webpage":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Set Text1","type":"main","index":0}]]},"Ollama Model":{"ai_languageModel":[[{"node":"Generate Title & Description","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Random Color":{"main":[[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"23396e3f-4e13-4341-80ee-1bad0222f3ac","triggerCount":1,"tags":[{"updatedAt":"2025-11-01T20:15:53.974Z","createdAt":"2025-11-01T20:15:53.974Z","id":"Cw2uyDZZlrxQ6mXI","name":"TheAIAutomators.com"}],"shared":[{"updatedAt":"2025-11-01T20:35:14.080Z","createdAt":"2025-11-01T20:35:14.080Z","role":"workflow:owner","workflowId":"FWCXANu7yM3VrSio","projectId":"ywaJbrRlDxckxG6O","project":{"updatedAt":"2025-11-01T20:14:57.952Z","createdAt":"2025-11-01T18:40:14.237Z","id":"ywaJbrRlDxckxG6O","name":"Layla laylaalsaabna@gmail.com <laylaalsaabna@gmail.com>","type":"personal","icon":null,"description":null}}]}