n8n/backup/workflows/xJDtUIjI709PCiyc.json
{"updatedAt":"2025-11-01T20:35:02.707Z","createdAt":"2025-11-01T20:35:02.707Z","id":"xJDtUIjI709PCiyc","name":"InsightsLM - Extract Text","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"filePath"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,384],"id":"758f8a9e-2b7a-485a-a292-211a17560f49","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"=http://kong:8000/storage/v1/object/sign/sources/{{ $json.filePath }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"expiresIn\": 60\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,384],"id":"fac7f4c3-c3cd-4e83-915b-014699986302","name":"Generate Signed URL"},{"parameters":{"url":"=http://kong:8000/storage/v1/{{ $json.signedURL }}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,384],"id":"6bd6054e-b778-44f1-89dc-1f83eb4d2272","name":"Download File"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.headers[\"content-type\"] }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"dc0dbe8c-70d5-4127-95f8-0fbd3f1a6bad"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2307a9d5-7872-49dc-9aeb-60697b91dc84","leftValue":"={{ $json.headers[\"content-type\"] }}","rightValue":"audio/mpeg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"87532eb7-b821-4d84-9d8e-c17136b0a88a","leftValue":"={{ $json.headers[\"content-type\"] }}","rightValue":"text/plain","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[672,384],"id":"527c9ca5-6724-4665-b0a9-3657fcce08a5","name":"Switch"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1024,192],"id":"81a90585-2cba-4a68-a97c-b2bae4e9ef70","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"1f5bee5d-939c-4df3-8e7d-0696ac3aa702","name":"text","value":"={{ $('Download File').item.json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,592],"id":"7b798f9a-4fdc-4526-9892-73e54e0887b4","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"9fea51c0-b3a9-49b5-8608-3264c9d00304","name":"extracted_text","value":"={{ $json.text || $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,384],"id":"8cb288ce-e1a4-47c5-9b7e-bbbbfb4a1e4f","name":"Extracted Text"},{"parameters":{"method":"POST","url":"http://whisper-asr:9000/asr?encode=true&task=transcribe&output=txt","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"audio_file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,384],"id":"a5812f78-26ab-42ee-9a6b-022a802365e6","name":"Local Whipser"},{"parameters":{"content":"[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)\n## InsightsLM Local - Extract Text\nhttps://github.com/theaiautomators/insights-lm-public\nhttps://github.com/theaiautomators/insights-lm-local-package","height":260,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,16],"id":"ad4783aa-0295-4c88-94c1-33b6a382b79f","name":"Sticky Note9"}],"connections":{"Generate Signed URL":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Local Whipser","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Generate Signed URL","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Extracted Text","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Extracted Text","type":"main","index":0}]]},"Local Whipser":{"main":[[{"node":"Extracted Text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"filePath":"3b9b7afd-ba0f-4940-982c-54f00357106d/4894b124-6884-4c4c-a637-2f572c261efb.mp3"}}]},"versionId":"9c37d86b-5ecd-4d5c-8d79-bed1f8103915","triggerCount":0,"tags":[{"updatedAt":"2025-11-01T20:15:53.974Z","createdAt":"2025-11-01T20:15:53.974Z","id":"Cw2uyDZZlrxQ6mXI","name":"TheAIAutomators.com"}],"shared":[{"updatedAt":"2025-11-01T20:35:02.707Z","createdAt":"2025-11-01T20:35:02.707Z","role":"workflow:owner","workflowId":"xJDtUIjI709PCiyc","projectId":"ywaJbrRlDxckxG6O","project":{"updatedAt":"2025-11-01T20:14:57.952Z","createdAt":"2025-11-01T18:40:14.237Z","id":"ywaJbrRlDxckxG6O","name":"Layla laylaalsaabna@gmail.com <laylaalsaabna@gmail.com>","type":"personal","icon":null,"description":null}}]}