n8n/backup/workflows/y95GAXXGruk9NJKC.json
{"updatedAt":"2025-11-01T20:34:44.874Z","createdAt":"2025-11-01T20:16:16.708Z","id":"y95GAXXGruk9NJKC","name":"Local Import Insights LM Workflows","active":false,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"[\"workflow-files\"]","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[960,800],"id":"76c992a4-9378-47a0-a252-e417bd615397","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1184,800],"id":"f6ff4862-9c53-47f7-a89e-af7b479a0e2f","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.file_url }}?cacheBust={{ $now.toISO() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,336],"id":"dfe9f0cf-1f70-4eae-9b05-5dacb26ed50b","name":"Download Workflow File"},{"parameters":{"jsCode":"// Loop over each input item passed to this node\nfor (const item of $input.all()) {\n  // Convert the JSON object of the current item into a string\n  let dataString = JSON.stringify(item.json);\n\n  // Perform the find-and-replace operations on the string version of the JSON.\n  // The 'g' flag in the regular expression ensures all instances are replaced.\n  const updatedString = dataString\n    .replace(/MFP2RlsZaArRcBmq/g, $('Enter User Values').first().json['Enter the n8n Custom Webhook Header Auth ID'])\n    .replace(/FLQTzRBk2pJi894u/g, $('Enter User Values').first().json['Enter the n8n Supabase Credential ID'])\n    .replace(/QHz0rwHKElfjaqrz/g, $('Enter User Values').first().json['Enter the n8n Ollama Credential ID'])\n  // Convert the modified string back into a JSON object and\n  // overwrite the original JSON data of the item.\n  item.json = JSON.parse(updatedString);\n}\n\n// Return all the modified items to be passed to the next node in the workflow.\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,336],"id":"4cf31a1b-8966-48e5-ac16-05405f4eaf98","name":"Find and Replace"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('Loop Over Items').item.json.file_type }}","rightValue":"generate-notebook-details","operator":{"type":"string","operation":"equals"},"id":"304285e6-dee5-4ff7-adbd-6ee937ae58f4"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5b066c3c-356a-4570-8eac-641bd3d515e1","leftValue":"={{ $('Loop Over Items').item.json.file_type }}","rightValue":"upsert-to-vector-store","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"743b9cbe-e88b-45c1-8d2c-e372995f6c49","leftValue":"={{ $('Loop Over Items').item.json.file_type }}","rightValue":"process-additional-sources","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1920,320],"id":"19eda4ce-58ec-4bb4-8c0a-627552cf64e6","name":"Switch"},{"parameters":{"jsCode":"// Loop over each input item passed to this node\nfor (const item of $input.all()) {\n  // Convert the JSON object of the current item into a string\n  let dataString = JSON.stringify(item.json);\n\n  // Perform the find-and-replace operations on the string version of the JSON.\n  // The 'g' flag in the regular expression ensures all instances are replaced.\n  const updatedString = dataString\n    .replace(/d5jtwJY7RRoMcRk4/g, $('n8n').first(0,0).json.id);\n\n  // Convert the modified string back into a JSON object and\n  // overwrite the original JSON data of the item.\n  item.json = JSON.parse(updatedString);\n}\n\n// Return all the modified items to be passed to the next node in the workflow.\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,96],"id":"a57a5c56-4fb0-4034-a56d-f2ff5dfb8440","name":"Update Extract Text Workflow Reference"},{"parameters":{"jsCode":"// Loop over each input item passed to this node\nfor (const item of $input.all()) {\n  // Convert the JSON object of the current item into a string\n  let dataString = JSON.stringify(item.json);\n\n  // Perform the find-and-replace operations on the string version of the JSON.\n  // The 'g' flag in the regular expression ensures all instances are replaced.\n  const updatedString = dataString\n    .replace(/jTHf2gRBacjaDiRp/g, $('n8n').first(0,2).json.id);\n\n  // Convert the modified string back into a JSON object and\n  // overwrite the original JSON data of the item.\n  item.json = JSON.parse(updatedString);\n}\n\n// Return all the modified items to be passed to the next node in the workflow.\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,272],"id":"b2671943-3d81-4cfa-933b-97557ee17f9f","name":"Update Vector Upsert Workflow Reference"},{"parameters":{"operation":"create","workflowObject":"={{ $json.data }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2640,464],"id":"ffc0eba6-06eb-4d3b-b574-fc90367a6143","name":"n8n","credentials":{"n8nApi":{"id":"cNhiOYdFPlCX5KI1","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0c78076e-6b86-4521-9f56-53bf537deb7d","name":"Enter your n8n Supabase Credential ID","value":"rvi0FEaYXfeWzgHH","type":"string"},{"id":"a08496dd-25cb-4905-81a5-15fe8bb73c87","name":"Enter the n8n Custom Webhook Header Auth ID","value":"1B1Z9dD0D9Mo5556","type":"string"},{"id":"4a8ab47c-538c-47c6-8d2e-fd5e975e1868","name":"Enter the Ollama Credential ID","value":"W8GsNSP04orNHJjM","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,800],"id":"6bc236a6-dfee-4d9b-832d-685a2f629570","name":"Enter User Values"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-16,800],"id":"9043e9e2-7237-47aa-b9f3-a31ce9b35abb","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"## UPDATE - Add Values\nYou need to fill out all fields here before running this workflow","height":340,"width":280,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,656],"id":"9ab029b2-755c-4fd2-97a2-2e5637d98e1a","name":"Sticky Note"},{"parameters":{"content":"## UPDATE - n8n Node\nCreate an API key in your n8n instance and set the credentials in this node\n\nTo create a key click the 3 dots beside your name on the bottom left, then Settings > then n8n API > then Create API Key","height":420,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2512,240],"id":"9a12574c-fa18-45b1-a5af-ae312322facc","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8abfdbe7-0c09-4453-87c6-ce6a397a45b0","leftValue":"={{ $json[\"Enter your n8n Supabase Credential ID\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"4d4af96c-0fcd-4f4d-bcb9-5e0ebc5da5f3","leftValue":"={{ $json[\"Enter the n8n Custom Webhook Header Auth ID\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9d574103-9568-4434-a9f7-ffe0a09fdbc9","leftValue":"={{ $json['Enter the Ollama Credential ID'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,800],"id":"b66a6fb1-1152-40b4-a112-22534f4ab5cf","name":"Checking Values are Set"},{"parameters":{"content":"# Import Insights LM Workflows (LOCAL VERSION)\n- Only run this workflow once to avoid having duplicate workflows in your project.\n- If you do create duplicate workflows, you can archive them in your instance\n- https://github.com/theaiautomators/insights-lm-public\n- https://github.com/theaiautomators/insights-lm-local-package","width":840,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[384,32],"id":"1794192a-4e9c-425e-a074-dc5815f984dc","name":"Sticky Note2"},{"parameters":{"content":"## SUCCESS\n","height":340,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,704],"id":"83b7ef56-b386-419c-bf15-a950d974279c","name":"Sticky Note3"},{"parameters":{"content":"[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)","width":340,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,32],"id":"8bdbd4a2-2a4c-4dfb-9b03-8f3fd443cbfe","name":"Sticky Note8"},{"parameters":{"assignments":{"assignments":[{"id":"d0ee4497-e902-40c5-8938-811bb206f6c8","name":"workflow-files","value":"=[\n    {\n      \"file_type\": \"extract-text\",\n      \"file_url\": \"https://raw.githubusercontent.com/theaiautomators/insights-lm-local-package/main/n8n/InsightsLM___Extract_Text.json\"\n    },\n    {\n      \"file_type\": \"generate-notebook-details\",\n      \"file_url\": \"https://raw.githubusercontent.com/theaiautomators/insights-lm-local-package/main/n8n/InsightsLM___Generate_Notebook_Details.json\"\n    },\n    {\n      \"file_type\": \"upsert-to-vector-store\",\n      \"file_url\": \"https://raw.githubusercontent.com/theaiautomators/insights-lm-local-package/main/n8n/InsightsLM___Upsert_to_Vector_Store.json\"\n    },\n    {\n      \"file_type\": \"process-additional-sources\",\n      \"file_url\": \"https://raw.githubusercontent.com/theaiautomators/insights-lm-local-package/main/n8n/InsightsLM___Process_Additional_Sources.json\"\n    },\n    {\n      \"file_type\": \"chat\",\n      \"file_url\": \"https://raw.githubusercontent.com/theaiautomators/insights-lm-local-package/main/n8n/InsightsLM___Chat.json\"\n    },\n    {\n      \"file_type\": \"podcast-generation\",\n      \"file_url\": \"https://raw.githubusercontent.com/theaiautomators/insights-lm-local-package/main/n8n/InsightsLM___Podcast_Generation.json\"\n    }\n  ]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,800],"id":"cd477331-c285-4ab9-a918-8c19ef4083e5","name":"Workflow File URLs to Download (Local Versions)"},{"parameters":{"jsCode":"// Loop over each input item passed to this node\nfor (const item of $input.all()) {\n  // Convert the JSON object of the current item into a string\n  let dataString = JSON.stringify(item.json);\n\n  // Perform the find-and-replace operations on the string version of the JSON.\n  // The 'g' flag in the regular expression ensures all instances are replaced.\n  const updatedString = dataString\n    .replace(/MFP2RlsZaArRcBmq/g, $('Enter User Values').first().json['Enter the n8n Custom Webhook Header Auth ID'])\n    .replace(/FLQTzRBk2pJi894u/g, $('Enter User Values').first().json['Enter the n8n Supabase Credential ID'])\n    .replace(/QHz0rwHKElfjaqrz/g, $('Enter User Values').first().json['Enter the n8n Ollama Credential ID'])\n  // Convert the modified string back into a JSON object and\n  // overwrite the original JSON data of the item.\n  item.json = JSON.parse(updatedString);\n}\n\n// Return all the modified items to be passed to the next node in the workflow.\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,864],"id":"330bf889-56ef-4573-a19a-55c831ea4b73","name":"Workflows Created!"}],"connections":{"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Workflows Created!","type":"main","index":0}],[{"node":"Download Workflow File","type":"main","index":0}]]},"Download Workflow File":{"main":[[{"node":"Find and Replace","type":"main","index":0}]]},"Find and Replace":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Update Extract Text Workflow Reference","type":"main","index":0}],[{"node":"Update Extract Text Workflow Reference","type":"main","index":0}],[{"node":"Update Vector Upsert Workflow Reference","type":"main","index":0}],[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update Extract Text Workflow Reference":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Update Vector Upsert Workflow Reference":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Enter User Values":{"main":[[{"node":"Checking Values are Set","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Enter User Values","type":"main","index":0}]]},"Checking Values are Set":{"main":[[{"node":"Workflow File URLs to Download (Local Versions)","type":"main","index":0}]]},"Workflow File URLs to Download (Local Versions)":{"main":[[{"node":"Split Out","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e8441020-208d-4566-91ff-ca6516fcbeab","triggerCount":0,"tags":[{"updatedAt":"2025-11-01T20:15:53.974Z","createdAt":"2025-11-01T20:15:53.974Z","id":"Cw2uyDZZlrxQ6mXI","name":"TheAIAutomators.com"}],"shared":[{"updatedAt":"2025-11-01T20:16:16.708Z","createdAt":"2025-11-01T20:16:16.708Z","role":"workflow:owner","workflowId":"y95GAXXGruk9NJKC","projectId":"ywaJbrRlDxckxG6O","project":{"updatedAt":"2025-11-01T20:14:57.952Z","createdAt":"2025-11-01T18:40:14.237Z","id":"ywaJbrRlDxckxG6O","name":"Layla laylaalsaabna@gmail.com <laylaalsaabna@gmail.com>","type":"personal","icon":null,"description":null}}]}